* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  height: 800px;
  background-color: lightgray;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 40px;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  top: 0;
  left: 0;
}
.box-2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  position: relative;
  left: 100px;
}
.box-3 {
  width: 300px;
  height: 300px;
  background-color: lightgreen;
  position: relative;
  left: 300px;
}
