* {
  margin: 0;
  padding: 0;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  bottom: 25px;
  left: 25px;
}
.box-4 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  left: 175px;
  bottom: 125px;
}
.box-2 {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  position: relative;
  left: 50px;
  top: 50px;
}
.box-3 {
  width: 300px;
  height: 300px;
  background-color: lightgreen;
}
