* {
  margin: 0;
  padding: 0;
}

.box-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(10, 10, 194);
  position: absolute;
  top: 0;
  left: 0;
}
.box-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(199, 20, 20);
  position: absolute;
  top: 0;
  right: 0;
}
.box-3 {
  width: 200px;
  height: 200px;
  background-color: rgb(15, 190, 15);
  position: absolute;
  bottom: 0;
  left: 0;
}
.box-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(214, 214, 13);
  position: absolute;
  bottom: 0;
  right: 0;
}
